@model List<MusicTrack>

@{
    ViewData["Title"] = "Music";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var allMoods = (List<MoodTag>)ViewData["allMoods"];
    var allInstruments = (List<InstrumentTag>)ViewData["allInstruments"];
    var allGenres = (List<GenreTag>)ViewData["allGenres"];
    string moodButton = "Moods";
    string instrumentButton = "Instruments";
    string genreButton = "Genre";
    string currentMood = "";
    string currentInstrument = "";
    string currentGenre = "";
}

<div class="container jumbotron py-3 mb-0">
    <h2 class="display-3 text-dark font-weight-normal text-center">Music</h2>
</div>
<div class="tag-container">
    <div class="container card my-3">
        <div class="row card-body py-4 my-1 justify-content-center">

            <div class="">
                <div class="dropdown">
                    <button class="btn btn-dark rounded-pill dropdown-toggle tag-button m-2" type="button" id="dropdownGenre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @if (ViewBag.currentGenre != "")
                        {
                            genreButton = char.ToUpper(ViewBag.currentGenre[0]) + ViewBag.currentGenre.Substring(1);
                        }
                        @genreButton
                    </button>
                    <div aria-labelledby="dropdownGenre" class="dropdown-menu music-dropdown">
                        @foreach (GenreTag genre in allGenres)
                        {
                            @if (genre.Tag == ViewBag.currentGenre)
                            {
                                currentGenre = "active";
                            }
                            else
                            {
                                currentGenre = "";
                            }
                            <a class="dropdown-item py-0 @currentGenre" asp-controller="Home" asp-action="GenreSelected" asp-route-id="@genre.Tag">@genre.Tag</a>
                        }
                    </div>
                </div>
            </div>

            <div class="">
                <div class="dropdown">
                    <button class="btn btn-dark rounded-pill dropdown-toggle tag-button m-2" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @if (ViewBag.currentMood != "")
                        {
                            moodButton = char.ToUpper(ViewBag.currentMood[0]) + ViewBag.currentMood.Substring(1);
                        }
                        @moodButton
                    </button>
                    <div aria-labelledby="dropdownMenu2" class="dropdown-menu music-dropdown mt-5">
                        @foreach (MoodTag mood in allMoods)
                        {
                            @if (mood.Tag == ViewBag.currentMood)
                            {
                                currentMood = "active";
                            }
                            else
                            {
                                currentMood = "";
                            }
                            <a class="dropdown-item py-0 @currentMood" asp-controller="Home" asp-action="MoodSelected" asp-route-id="@mood.Tag">@mood.Tag</a>
                        }
                    </div>
                </div>
            </div>

            <div class="">
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle rounded-pill tag-button m-2" type="button" id="dropdownInstruments" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @if (ViewBag.currentInstrument != "")
                        {
                            instrumentButton = char.ToUpper(ViewBag.currentInstrument[0]) + ViewBag.currentInstrument.Substring(1);
                        }
                        @instrumentButton
                    </button>
                    <div aria-labelledby="dropdownInstruments" class="dropdown-menu music-dropdown">
                        @foreach (InstrumentTag instrument in allInstruments)
                        {
                            @if (instrument.Tag == ViewBag.currentInstrument)
                            {
                                currentInstrument = "active";
                            }
                            else
                            {
                                currentInstrument = "";
                            }
                            <a class="dropdown-item py-0 @currentInstrument" asp-controller="Home" asp-action="InstrumentSelected" asp-route-id="@instrument.Tag">@instrument.Tag</a>
                        }
                    </div>
                </div>
            </div>

            <div class="">
                <a asp-controller="Home" asp-action="ClearFilters" class="btn btn-danger tag-button m-2">Clear Filters</a>
            </div>
        </div>
    </div>
</div>

<div class="container jumbotron bg-transparent py-3">

    <div class="row justify-content-between">
        <div class="col-12 col-md-8 col-lg-4 my-md-auto mt-1 text-md-left d-none d-lg-block">
            <div class="row text-dark">
                <div class="col pr-0 my-auto">
                    <h3 class="font-weight-bolder">Song Name</h3>
                </div>
                <div class="col p-0 my-auto d-flex flex-column text-left">
                    <a asp-action="SortByNameAsc" asp-controller="Home"><i class="fas fa-caret-up fa-lg"></i></a>
                    <a asp-action="SortByNameDesc" asp-controller="Home"><i class="fas fa-caret-down fa-lg"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-2 my-md-auto mb-1 text-lg-left d-none d-lg-block">
            <div class="row text-dark">
                <div class="col my-auto">
                    <h3 class="font-weight-bolder">Genre</h3>
                </div>
                <div class="col p-0 pl-2 my-auto d-flex flex-column text-left">
                    <a asp-action="SortByGenreAsc" asp-controller="Home"><i class="fas fa-caret-up fa-lg"></i></a>
                    <a asp-action="SortByGenreDesc" asp-controller="Home"><i class="fas fa-caret-down fa-lg"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-4 my-md-auto my-2 text-lg-center d-none d-lg-block">
            <h3 class="font-weight-bolder text-dark">Listen Now</h3>
        </div>
        <div class="col-12 col-md-4 col-lg-2 my-md-auto my-2 text-lg-right d-none d-lg-block">
            <h3 class="font-weight-bolder text-dark">Download</h3>
        </div>
    </div>
    <div class="row d-none d-lg-block">
        <div class="col">
            <hr class="mt-2" />
        </div>
    </div>
    <div id="music-list">
       @foreach (var music in Model)
        {
            <div class="row justify-content-between">
                <div class="col-12 col-md-8 col-lg-4 my-md-auto mt-1 text-center text-md-left">
                    <h5 class="text-dark my-auto">@music.Name</h5>
                </div>
                <div class="col-12 col-md-4 col-lg-2 my-md-auto mb-1 text-center text-lg-left">
                    <h6 class="font-italic text-dark my-auto">@music.Genre.Tag</h6>
                </div>
                <div class="col-12 col-md-8 col-lg-4 my-md-auto my-2 text-center text-md-left text-lg-center">
                    <audio class="manage-songs-audio-player align-middle" controls controlsList="nodownload" preload="none">
                        <source src="~/files/musictracks/@music.FileName" />
                    </audio>
                </div>
                <div class="col-12 col-md-4 col-lg-2 my-lg-auto my-2 text-center text-lg-right">
                    <form action="/Home/Download" method="post">
                        <input class="form-control-plaintext" type="hidden" style="position: absolute;" name="fileName" readonly value="@music.FileName" />
                        <button type="submit" class="btn btn-primary"><i class="fas fa-file-download fa-lg"></i></button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr />
                </div>
            </div>
        }
    </div>
</div>


