@model List<MusicTrack>
@{
    ViewData["Title"] = ManageAdminNav.ManageSongs;
    ViewData["ActivePage"] = ManageAdminNav.ManageSongs;

    int trackCounter = 1;
}

<h1 class="text-center">@ManageAdminNav.ManageSongs</h1>
<div class="row">
    <div class="col">
        <hr class="my-2" />
    </div>
</div>
@foreach (var musicTrack in Model) {
    <div class="row">
        <div class="col-12 col-lg-6 my-md-auto text-center text-lg-left">
            <h6 class="text-dark my-auto">@(trackCounter++). @musicTrack.Name</h6>
        </div>
        <div class="col-12 col-lg-3 my-2 my-lg-auto px-0 mx-0 text-center">
            <audio class="manage-songs-audio-player align-middle" controls controlsList="nodownload">
                <source src="~/files/musictracks/@musicTrack.FileName" />
            </audio>
        </div>
        <div class="col-4 col-lg-1 text-center">
            <form action="/Home/Download" method="post" class="align-middle">
                <input class="form-control-plaintext" type="hidden" style="position: absolute;" name="fileName" readonly value="@musicTrack.FileName" />
                <button type="submit" class="btn btn-primary manage-songs-button"><i class="fas fa-file-download fa-lg"></i></button>
            </form>
        </div>
        <div class="col-4 col-lg-1 text-center">
            <form action="/admin/editsong" method="get" class="align-middle">
                <input class="form-control-plaintext" type="hidden" style="position: absolute;" name="id" readonly value="@musicTrack.ID" />
                <button type="submit" class="btn btn-secondary text-white manage-songs-button"><i class="fas fa-edit fa-lg"></i></button>
            </form>
        </div>
        <div class="col-4 col-lg-1 text-center">
            <form action="/admin/delete" method="post" class="align-middle">
                <input class="form-control-plaintext" type="hidden" style="position: absolute;" name="id" readonly value="@musicTrack.ID" />
                <button type="submit" class="btn btn-danger manage-songs-button"><i class="fas fa-trash-alt fa-lg"></i></button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr class="my-2" />
        </div>
    </div>
 }





